.filter {
  background-color: var(--primary-element-colour);
  $margin: 3rem;
  height: calc(100% - $margin * 2);
  width: 30rem;
  position: absolute;
  top: 50%;
  left: $margin;
  transform: translateY(-50%);
  border-radius: var(--primary-border-radius);
  filter: var(--primary-drop-shadow);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .filter-container {
    width: 100%;
    padding: 1.6rem;
    border-bottom: 1px solid var(--secondary-element-colour);
  }

  .search-container {
    display: flex;
  }

  .search-input {
    width: 100%;
    font-size: 1.6rem;
    padding: 1rem;
    padding-right: 0;
    outline: none;
    border: 2px solid var(--secondary-element-colour);
    border-right: none;
    border-top-left-radius: var(--primary-border-radius);
    border-bottom-left-radius: var(--primary-border-radius);
  }

  .search-btn {
    background-color: var(--primary-element-colour);
    border: 2px solid var(--secondary-element-colour);
    border-left: none;
    border-top-right-radius: var(--primary-border-radius);
    border-bottom-right-radius: var(--primary-border-radius);
    cursor: pointer;
  }

  .search-icon {
    $size: 4.4rem;
    width: $size;
    height: $size;
    padding: 1rem;
  }

  .sort-by-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  #sort-by-select {
    font-size: 1.6rem;
  }

  .size-text {
    margin-bottom: 0.4rem;
  }

  .checkboxes-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  #materials-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .checkbox-label {
    margin-right: 0.4rem;
  }

  .price-range-slider-container {
    width: 90%;
    margin: 0 auto;
    margin-top: 1rem;
    position: relative;
  }

  $price-range-bar-height: 2px;
  .price-range-bar {
    min-height: $price-range-bar-height;
    width: 100%;
    background-color: var(--secondary-element-colour);
  }

  .price-ranges-container {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
  }

  .price-handle {
    background-color: white;
    $size: 2.4rem;
    min-width: $size;
    min-height: $size;
    border-radius: var(--primary-border-radius);
    border: 2px solid var(--secondary-element-colour);
    position: absolute;
    left: 0;
    top: calc($price-range-bar-height / 2);
    transform: translateY(-50%);
  }

  .clear-filters-btn {
    min-height: 4rem;
    width: 90%;
    font-size: 1.6rem;
    align-self: center;
    background-color: var(--primary-element-colour);
    border: 2px solid var(--secondary-element-colour);
    border-radius: var(--primary-border-radius);
    margin: 1.6rem 0;
    transition: background-color 125ms ease-in-out;

    &:hover {
      background-color: var(--secondary-element-colour);
    }
  }
}
