.filter {
  background-color: var(--primary-element-colour);
  height: calc(100% - 6rem);
  width: 30rem;
  position: absolute;
  top: 50%;
  left: 3rem;
  transform: translateY(-50%);
  border-radius: var(--primary-border-radius);
  filter: var(--primary-drop-shadow);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
}
.filter::-webkit-scrollbar {
  display: none;
}
.filter .filter-container {
  width: 100%;
  padding: 1.6rem;
  border-bottom: 1px solid var(--secondary-element-colour);
}
.filter .search-container {
  display: flex;
}
.filter .search-input {
  width: 100%;
  font-size: 1.6rem;
  padding: 1rem;
  padding-right: 0;
  outline: none;
  border: 2px solid var(--secondary-element-colour);
  border-right: none;
  border-top-left-radius: var(--primary-border-radius);
  border-bottom-left-radius: var(--primary-border-radius);
}
.filter .search-btn {
  background-color: var(--primary-element-colour);
  border: 2px solid var(--secondary-element-colour);
  border-left: none;
  border-top-right-radius: var(--primary-border-radius);
  border-bottom-right-radius: var(--primary-border-radius);
  cursor: pointer;
}
.filter .search-icon {
  width: 4.4rem;
  height: 4.4rem;
  padding: 1rem;
}
.filter .sort-by-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.filter #sort-by-select {
  font-size: 1.6rem;
}
.filter .size-text {
  margin-bottom: 0.4rem;
}
.filter .checkboxes-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.filter #materials-container {
  grid-template-columns: repeat(2, 1fr);
}
.filter .checkbox-label {
  margin-right: 0.4rem;
}
.filter .price-range-slider-container {
  width: 90%;
  margin: 0 auto;
  margin-top: 1rem;
  position: relative;
}
.filter .price-range-bar-container {
  width: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}
.filter .price-range-bar {
  min-height: 2px;
  width: 100%;
  background-color: black;
}
.filter .price-range-bar-low,
.filter .price-range-bar-high {
  min-height: 2px;
  min-width: 100%;
  background-color: var(--secondary-element-colour);
  position: absolute;
}
.filter .price-ranges-container {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.filter .price-text {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.filter .price-handle {
  min-width: 2.4rem;
  min-height: 2.4rem;
  position: absolute;
  left: 0;
  top: 1px;
  cursor: pointer;
}
.filter #low-price-handle {
  transform: rotateX(180deg) translateY(30%);
}
.filter #high-price-handle {
  transform: translateY(-70%);
}
.filter .clear-filters-btn {
  min-height: 4rem;
  width: 90%;
  font-size: 1.6rem;
  align-self: center;
  background-color: var(--primary-element-colour);
  border: 2px solid var(--secondary-element-colour);
  border-radius: var(--primary-border-radius);
  margin: 1.6rem 0;
  transition: background-color 125ms ease-in-out;
}
.filter .clear-filters-btn:hover {
  background-color: var(--secondary-element-colour);
}/*# sourceMappingURL=Filter.css.map */