@import url("https://fonts.googleapis.com/css2?family=Asap&family=Lexend+Deca&family=Signika+Negative&display=swap");

:root {
  --primary-element-colour: white;
  --secondary-element-colour: black;
  --tertiary-element-colour: rgb(233, 233, 233);
  --primary-border-radius: 2rem;
  --primary-drop-shadow: drop-shadow(0 0 4px rgb(200, 200, 200));
  --primary-text-colour: black;
}

* {
  font-family: "Lexend Deca", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Signica Negative", "Lexend Deca", "Asap", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.075);
}
