.header {
  width: 100%;
  min-height: 6rem;
  display: flex;
  justify-content: center;
  // border-bottom: 1px solid var(--secondary-element-colour);
  box-shadow: 0 0 8px 0px rgb(200, 200, 200);
  z-index: 100;

  .section-title {
    font-family: "Lexend Deca", sans-serif;
    font-size: 1.7rem;
    padding: 2rem;
    border: none;
    background-color: var(--primary-element-colour);
    transition: background-color 125ms ease-in-out;

    &:hover {
      background-color: var(--secondary-element-colour);
    }
  }

  #sale-section {
    color: rgb(233, 39, 39);
  }

  .selected {
    background-color: var(--secondary-element-colour);
  }
}
