.price-range-filter {
  text-align: start;

  .price-range-slider-container {
    width: 90%;
    margin: 0 auto;
    margin-top: 1rem;
    position: relative;
  }

  .price-range-bar-container {
    width: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
  }

  $price-range-bar-height: 2px;
  .price-range-bar {
    min-height: $price-range-bar-height;
    width: 100%;
    background-color: black;
  }
  .price-range-bar-low,
  .price-range-bar-high {
    min-height: $price-range-bar-height;
    min-width: 100%;
    background-color: rgb(233, 233, 233);
    position: absolute;
  }

  .price-ranges-container {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
  }

  .price-text {
    user-select: none;
  }

  #low-price-handle-container,
  #high-price-handle-container {
    min-width: 2rem;
    min-height: 1.2rem;
    width: fit-content;
    position: absolute;
    cursor: pointer;
  }

  #low-price-handle-container {
    left: -1rem;
    top: $price-range-bar-height;
  }

  #high-price-handle-container {
    right: -1rem;
    top: calc(-1.2rem + $price-range-bar-height / 2);
  }

  .price-handle {
    $size: 2.4rem;
    min-width: $size;
    min-height: $size;
    position: absolute;
    cursor: default;
    pointer-events: none;
  }

  #low-price-handle {
    transform: translateY(30%);
    left: -0.2rem;
    top: -1.4rem;
  }

  #high-price-handle {
    transform: translateY(-70%);
    left: -0.2rem;
    top: 1.2rem;
  }
}
