@use "../../../../ui-library/scss/orbit.scss";
.filter {
  height: calc(100% - 4rem);
  min-width: 30rem;
  border-radius: var(--primary-border-radius);
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  margin: 2rem;
  margin-right: 0;
  align-items: center;
  gap: 1rem;
  position: relative;
  background: radial-gradient(
    circle at 50% 25%,
    rgb(255, 203, 99) 10%,
    rgb(234, 85, 87),
    rgb(201, 7, 103),
    rgb(137, 57, 172) 70%,
    rgb(20, 0, 186),
    rgb(3, 2, 80)
  );
  pointer-events: none;

  &::-webkit-scrollbar {
    display: none;
  }

  & * {
    z-index: 10;
    pointer-events: all;
  }

  .filter-background-shape {
    position: absolute;
    border: none;
    border-radius: 100%;
    z-index: 1;
    transition: scale 350ms ease-in-out;

    &.pulsate {
      scale: 1.2;
    }

    &.one {
      top: 15%;
      left: 85%;
      width: 7.5rem;
      height: 7.5rem;
      background: radial-gradient(circle at 100% 35%, rgb(255, 203, 99) 10%, rgb(234, 85, 87) 70%, rgb(201, 7, 103));
      @include orbit.orbit-anim(orbit-four, 10%, 12.5%, 0.9s);
    }

    &.two {
      top: 70%;
      left: 10%;
      width: 15rem;
      height: 15rem;
      background: radial-gradient(circle at 25% 0%, rgb(20, 0, 186) 10%, rgb(137, 57, 172), rgb(201, 7, 103), rgb(234, 85, 87));
      @include orbit.orbit-anim(orbit-five, 70%, 72.5%, 1.2s);
    }
  }

  // Search Filter
  .search-container {
    width: 90%;
    display: flex;
  }

  .search-input {
    width: 100%;
    font-size: 1.6rem;
    padding: 1rem;
    padding-right: 0;
    outline: none;
    border: 1px solid var(--secondary-element-colour);
    // border: none;
    border-right: none;
    margin-top: 1.6rem;
    border-top-left-radius: var(--primary-border-radius);
    border-bottom-left-radius: var(--primary-border-radius);
  }

  .search-btn {
    margin-top: 1.6rem;
    background-color: var(--primary-element-colour);
    border: 1px solid var(--secondary-element-colour);
    border-left: none;
    border-top-right-radius: var(--primary-border-radius);
    border-bottom-right-radius: var(--primary-border-radius);
    cursor: pointer;
  }

  .search-icon {
    $size: 4.4rem;
    width: $size;
    height: $size;
    padding: 1rem;
  }

  // Filter Buttons
  .btn-container {
    height: 6rem;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.8rem;
    margin-bottom: 1.6rem;
  }

  .filter-btn {
    padding: 0 1rem;
    font-size: 1.6rem;
    background-color: var(--primary-element-colour);
    border: 1px solid var(--secondary-element-colour);
    margin: 1.6rem 0;
    transition: background-color 125ms ease-in-out;

    // use mesh gradient
    &:hover {
      background-color: var(--tertiary-element-colour);
    }
  }

  .apply-filters-btn {
    height: 100%;
    width: 70%;
    border-top-left-radius: var(--primary-border-radius);
    border-bottom-left-radius: var(--primary-border-radius);
  }

  .clear-filters-btn {
    height: 100%;
    border-top-right-radius: var(--primary-border-radius);
    border-bottom-right-radius: var(--primary-border-radius);
    border-left: none;
    padding: 0 2rem;
  }
}
