.product-page {
  display: flex;
  justify-content: center;
  padding: 3rem;
  font-size: 1.8rem;

  $element-spacing: 2rem;

  #image-cards-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-right: 1rem;
  }

  @keyframes pulse {
    0% {
      background-color: var(--secondary-element-colour);
    }
    50% {
      background-color: rgb(214, 214, 214);
    }
  }

  .image-card {
    width: 6rem;
    height: 7.5rem;
    background-color: var(--primary-element-colour);
    border-radius: var(--primary-border-radius);
    cursor: pointer;

    &.selected {
      border: 1px solid var(--secondary-element-colour);
    }
  }

  .product-image {
    width: 48rem;
    height: 60rem;
    background-color: var(--primary-element-colour);
    border-radius: var(--primary-border-radius);
    border: 1px solid var(--secondary-element-colour);
    object-fit: contain;
    margin-right: 2rem;
  }

  .right-container {
    min-width: 24rem;
    max-width: 35rem;
    display: flex;
    flex-direction: column;
    text-align: start;
  }

  .divider {
    border: 2px solid var(--secondary-element-colour);
    margin: calc($element-spacing / 2) 0;
  }

  .name-text {
    font-size: 2rem;
  }

  .name-text-suspense {
    width: 16rem;
    height: calc(2rem * 1.25 - 0.2rem);
    border-radius: var(--primary-border-radius);
    margin-bottom: 0.4rem;
  }

  .price-text-suspense {
    width: 3.6rem;
    height: calc(1.8rem * 1.25 - 0.2rem);
    border-radius: var(--primary-border-radius);
  }

  .container {
    margin-bottom: $element-spacing;
  }

  .colours-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .colour {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    cursor: pointer;

    &.selected {
      border: 3px solid black;
    }
  }

  .sizes-container {
    display: flex;
    gap: 0.4rem;
  }

  .size-btn {
    font-size: 1.8rem;
    min-height: 4rem;
    min-width: 6rem;
    border-radius: var(--primary-border-radius);
    background-color: var(--primary-element-colour);
    border: 2px solid var(--secondary-element-colour);
    transition: background-color 125ms ease-in-out;

    &:hover,
    &.selected {
      background-color: var(--secondary-element-colour);
    }
  }

  .add-to-cart-btn {
    min-height: 6rem;
    color: white;
    background-color: black;
    font-size: 1.8rem;
    font-weight: 600;
    border: none;
    border-radius: var(--primary-border-radius);
    margin-bottom: $element-spacing;

    transition: background-color 125ms ease-in-out;

    &:hover {
      background-color: rgb(70, 70, 70);
    }
  }

  .product-details {
    margin-bottom: 1rem;
  }

  .suspense {
    border: none;
    background-color: var(--secondary-element-colour);
    animation: pulse 1.25s linear infinite;
    pointer-events: none;
  }
}
