@use "../../../ui-library/scss/common.scss";

.header {
  $border-size: 1px;
  $opacity-fade: opacity 250ms ease, background-color 250ms ease;
  $section-bg-opacity: 1;
  $section-bg-blur: 2rem;

  width: 100vw;
  height: 11.5rem;

  background-image: url("/public/images/gradients/mesh-69.png");
  background-size: cover;
  background-position: 0% 25%;

  // Applies to all sections.
  > * {
    width: 100vw;
    border-bottom: $border-size solid black;
  }

  .main-section {
    height: 7rem;
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .categories {
    height: 4.5rem;
  }

  .category,
  .group {
    padding: 0 1rem;
  }

  .styles {
    height: 2.5rem;
  }

  .groups {
    @include common.display-flex-center();

    // Applies to all group buttons.
    > * {
      min-width: 8rem;
      height: 100%;
      @include common.display-flex-center();

      @include common.disable-link-styling();
      border-right: $border-size solid black;

      position: relative;
      // overflow: hidden;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("../../../../public/images/SEr42QI-.jpg");
        background-size: 100% 100%;
        filter: hue-rotate(300deg) blur($section-bg-blur);
        z-index: -1;
        opacity: 0;

        transition: $opacity-fade;
      }

      &:hover,
      &:focus-visible {
        outline: none;

        &::before {
          opacity: $section-bg-opacity;

          transition: $opacity-fade;
        }
      }

      &:focus-visible {
        background-color: rgba(black, 0.1);

        transition: $opacity-fade;
      }

      &:nth-child(2n)::before {
        filter: hue-rotate(50deg) blur($section-bg-blur);
      }
      &:nth-child(3n)::before {
        filter: hue-rotate(120deg) blur($section-bg-blur);
      }
    }
  }

  .logo {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    width: fit-content;
    height: fit-content;
    translate: -50% -50%;
    padding: 1rem;
    @include common.display-flex-center();

    font-size: 4rem;
    font-weight: 600;
    color: black;
    text-decoration: none;

    transition: $opacity-fade;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url("../../../../public/images/SEr42QI-.jpg");
      background-size: 100% 100%;
      filter: blur($section-bg-blur);
      z-index: -1;
      opacity: 0;

      transition: $opacity-fade;
    }

    &:hover,
    &:focus-visible {
      outline: none;

      &::before {
        opacity: $section-bg-opacity;

        transition: $opacity-fade;
      }

      > .star-icon {
        rotate: 180deg;

        transition: rotate 500ms ease;
      }
    }

    &:focus-visible {
      background-color: rgba(black, 0.1);

      transition: $opacity-fade;
    }
  }

  .star-icon {
    $size: 3rem;
    min-width: $size;
    min-height: $size;
    scale: 0.5 1;
    position: relative;
  }

  .categories {
    width: 100vw;
    display: flex;

    overflow-x: scroll;
    scrollbar-width: none;

    // Applies to every category but the last.
    > :first-child {
      border-left: $border-size solid black;
      margin-left: auto;
    }

    > :last-child {
      margin-right: auto;
    }

    // Applies to every category.
    > * {
      min-width: 8.5rem;
      height: 100%;

      @include common.disable-link-styling();
      @include common.display-flex-center();

      font-size: 1.25rem;
      border-right: $border-size solid black;

      position: relative;
      // overflow: hidden;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("../../../../public/images/SEr42QI-.jpg");
        background-size: 100% 100%;
        filter: hue-rotate(300deg) blur($section-bg-blur);
        z-index: -1;
        opacity: 0;

        transition: $opacity-fade;
      }

      &:hover,
      &:focus-visible {
        outline: none;

        &::before {
          opacity: $section-bg-opacity;

          transition: $opacity-fade;
        }
      }

      &:focus-visible {
        background-color: rgba(black, 0.1);

        transition: $opacity-fade;
      }

      &:nth-child(2n)::before {
        filter: hue-rotate(50deg) blur($section-bg-blur);
      }
      &:nth-child(3n)::before {
        filter: hue-rotate(120deg) blur($section-bg-blur);
      }
    }
  }
}
